@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  font-family: "Inter";
  max-width: min(100% - 3rem, 65ch);
  margin-inline: auto;
  line-height: 1.6;
}

h1 {
  text-align: center;
}

blockquote,
figure {
  margin-inline: 0;
  border-block-start: 0.4ch solid;
  border-block-end: 0.2ch solid;
}

blockquote {
  padding-inline: 1em;
}

figure {

  max-width: 100%;

  img {
    max-width: 100%;
  }

  figcaption {
    text-align: center;
    font-style: italic;
    border-block-end: 0.2ch solid;
    padding-block: 0.2ch;
  }

  aside {
    font-style: italic;

    sup {
      font-style: normal;
    }
  }
}

sup {
  font-size: 0.7em;
}

table {
  border-collapse: collapse;
  width: 100%;

  tr:nth-child(even) td {
    border-block-end: 0.1ch dotted;
  }
}

button {
  --button-color: skyblue;

  cursor: pointer;

  padding: 1ch 2ch;
  border: none;
  border-radius: 1ch;

  font-family: inherit;
  
  background: linear-gradient(
    to bottom right, 
    color-mix(in srgb, var(--button-color), ButtonFace 95%), 
    color-mix(in srgb, var(--button-color), ButtonFace 80%)
  );

  &:disabled {
    --button-color: red;
  }
}

span[x-data] button {
  padding: 0.3ch 0.7ch;
}

@page {
  size: letter;
  margin: 1in;
}

.breadcrumbs ul {
  list-style: none;
  padding-inline: 0;
  margin-inline: 0;
  display: flex;

  li + li::before {
    content: ">";
    padding-inline: 1ch;
  }
}

.counter {
  display: flex;
  align-items: center;
  gap: 1ch;

  button {
    padding: 0.3em 0.8em;
  }
}

.toast {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 2rem;

  * {
    padding: 0.5ch 1ch;
    margin: 1ch;
    border-radius: 1ch;
    background-color: white;
    outline: 2px solid #0F0;
  }

    .error,
    .failure {
    outline-color: #F00;
  }
  
    .damage {
    outline-color: #00F;
  }
}