@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  font-family: "Inter";
  max-width: min(100% - 3rem, 65ch);
  margin-inline: auto;
  line-height: 1.6;
}

.hidden {
  display: none;
}

.template {
  padding: 1em;

  section {
    margin-block: 1em;
  }
}

.output {
  margin-block-start: 2em;
}

summary {
  font-size: 1.2rem;
  font-weight: bold;
}