@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  font-family: "Inter";
  max-width: min(100% - 3rem, 65ch);
  margin-inline: auto;
  line-height: 1.6;
}

h1 {
  text-align: center;
}

blockquote,
figure {
  margin-inline: 0;
  border-block-start: 0.4ch solid;
  border-block-end: 0.2ch solid;
}

blockquote {
  padding-inline: 1em;
}

figure {
  figcaption {
    text-align: center;
    font-style: italic;
    border-block-end: 0.2ch solid;
    padding-block: 0.2ch;
  }
  aside {
    
    font-style: italic;

    sup {
      font-style: normal;
    }
  }
}

sup {
  font-size: 0.7em;
}

table {
  border-collapse: collapse;
  width: 100%;

  tr:nth-child(even) td {
    border-block-end: 0.1ch dotted;
  }
}

@page {
  size: letter;
  margin: 1in;
}
